* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', sans-serif;
}
html {
  width: 100%;
  height: 100vh;
}
/*
* {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
*/
#container {
  width: 100%;
  height: 100vh;
  background: #EAEBE5;
}
main {
  margin-top: 200px;
  width: 100%;
  height: 90%;
}
.wrapper {
  max-width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.accordionHeader {
  width: 4.6875vw;
  float: left;
  background: #EAEBE5;
  height: 100%;
  cursor: pointer;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-left: 1px solid #60554A;
}

.accordionHeader.ch2 {
  padding: 214px 0;
}
.accordionHeader.ch3 {
  padding: 138px 0;
}
.accordionHeader.ch4 {
  padding: 165px 0;
}

.accordionHeader h2 {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-family: 'Kaisei HarunoUmi', serif;
}
.accordionContent {
  background: #EAEBE5;
  width: 0;
  height: 100%;
  float: left;
  transition: width 0.5s linear;
  display: flex;
}
.accordionContent.active {
  width: calc(100% - 18.7500vw);
}

.imagebox {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagebox>.bgbox {
  width: 25.0000vw;
  height: 35.4167vw;
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D2D4C8;
  overflow: hidden;
}
.imagebox>.bgbox>.mainbox {
  width: 18.7500vw;
  height: 29.1667vw;
  background-size: cover;
  background-position: center;
}
.ch1>.imagebox>.bgbox>.mainbox {
  background-image: url('../img/컬렉션\ 1.png');
}
.ch2>.imagebox>.bgbox>.mainbox {
  background-image: url('../img/컬렉션\ 2.png');
}
.ch3>.imagebox>.bgbox>.mainbox {
  background-image: url('../img/컬렉션\ 3.png');
}
.ch4>.imagebox>.bgbox>.mainbox {
  background-image: url('../img/컬렉션\ 4.png');
}
.contentbox {
  width: 60%;
  height: 100%;
}
.contentbox>.textbox {
  width: 100%;
  height: 60%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contentbox>.textbox>h2 {
  font-size: 20px;
  font-family: 'Kaisei HarunoUmi', serif;
}
.contentbox>.textbox>h1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-family: 'Kaisei HarunoUmi', serif;
}
.contentbox>.textbox>p {
  font-size: 15px;
  padding-bottom: 10px;
  padding-right: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: justify;
}
.contentbox>.carouselbox {
  width: 100%;
  height: 40%;
}

.swiper-slide.ch1_0 {
  background-image: url('../img/ch1_0.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch1_1 {
  background-image: url('../img/ch1_1.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch1_2 {
  background-image: url('../img/ch1_2.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch1_3 {
  background-image: url('../img/ch1_3.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch1_4 {
  background-image: url('../img/ch1_4.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch1_5 {
  background-image: url('../img/ch1_5.jpg');
  background-size: cover;
  background-position: center;
}

.swiper-slide.ch2_0 {
  background-image: url('../img/ch2_0.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch2_1 {
  background-image: url('../img/ch2_1.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch2_2 {
  background-image: url('../img/ch2_2.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch2_3 {
  background-image: url('../img/ch2_3.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch2_4 {
  background-image: url('../img/ch2_4.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch2_5 {
  background-image: url('../img/ch2_5.jpg');
  background-size: cover;
  background-position: center;
}

.swiper-slide.ch3_0 {
  background-image: url('../img/ch3_0.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch3_1 {
  background-image: url('../img/ch3_1.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch3_2 {
  background-image: url('../img/ch3_2.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch3_3 {
  background-image: url('../img/ch3_3.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch3_4 {
  background-image: url('../img/ch3_4.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch3_5 {
  background-image: url('../img/ch3_5.jpg');
  background-size: cover;
  background-position: center;
}

.swiper-slide.ch4_0 {
  background-image: url('../img/ch4_0.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch4_1 {
  background-image: url('../img/ch4_1.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch4_2 {
  background-image: url('../img/ch4_2.jpg');
  background-size: cover;
  background-position: top;
}
.swiper-slide.ch4_3 {
  background-image: url('../img/ch4_3.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch4_4 {
  background-image: url('../img/ch4_4.jpg');
  background-size: cover;
  background-position: center;
}
.swiper-slide.ch4_5 {
  background-image: url('../img/ch4_5.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  #container {
    height: 200vh;
  }
  header {
    height: 100px;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .accordionHeader {
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    border-left: 0px;
    border-top: 1px solid #60554A;
  }
  .accordionContent {
    width: 100%;
    height: 0;
    transition: height 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordionHeader.ch2 {
    padding: 10px 0px;
  }
  .accordionHeader.ch3 {
    padding: 10px 0px;
  }
  .accordionHeader.ch4 {
    padding: 10px 0px;
  }


  .accordionHeader h2 {
    transform: rotate(-360deg);
  }
  .accordionContent.active {
    width: 100%;
    height: calc(100% - 200px);
  }
  .imagebox {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .imagebox>.bgbox {
    width: 43.0108vw;
    height: 62.5611vw;
  }
  .imagebox>.bgbox>.mainbox {
    width: 31.2805vw;
    height: 50.8309vw;
  }
  .contentbox {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .contentbox>.textbox {
    height: 40%;
    padding: 0px 100px;
    justify-content: center;
  }
  .contentbox>.textbox>p {
    padding-right: 0px;
  }
  .contentbox>.carouselbox {
    width: 100%;
    height: 60%;
  }
}
@media (min-width: 361px) and (max-width: 767px) {
  #container {
    height: 200vh;
  }
  header {
    height: 100px;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .accordionHeader {
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    border-left: 0px;
    border-top: 1px solid #60554A;
  }
  .accordionContent {
    width: 100%;
    height: 0;
    transition: height 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordionHeader h2 {
    transform: rotate(-360deg);
    font-size: 20px;
  }

  .accordionHeader.ch2 {
    padding: 10px 0px;
  }
  .accordionHeader.ch3 {
    padding: 10px 0px;
  }
  .accordionHeader.ch4 {
    padding: 10px 0px;
  }

  .accordionContent.active {
    width: 100%;
    height: calc(100% - 200px);
  }
  .imagebox {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .imagebox>.bgbox {
    width: 57.3664vw;
    height: 88.6571vw;
  }
  .imagebox>.bgbox>.mainbox {
    width: 46.9361vw;
    height: 73.0117vw;
  }
  .contentbox {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }
  .contentbox>.textbox {
    height: 50%;
    padding: 0px 30px;
    justify-content: center;
  }
  .contentbox>.textbox>h2 {
    font-size: 18px;
  }
  .contentbox>.textbox>h1 {
    font-size: 40px;
  }
  .contentbox>.textbox>p {
    padding-right: 0px;
  }
  .contentbox>.carouselbox {
    width: 100%;
    height: 50%;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  #container {
    height: 180vh;
  }
  header {
    height: 100px;
  }
  main {
    width: 100%;
    height: 100%;
  }
  .accordionHeader {
    width: 100%;
    height: 50px;
    padding: 10px 0px;
    border-left: 0px;
    border-top: 1px solid #60554A;
  }
  .accordionContent {
    width: 100%;
    height: 0;
    transition: height 0.5s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .accordionHeader h2 {
    transform: rotate(-360deg);
    font-size: 18px;
  }
  .accordionHeader.ch2 {
    padding: 10px 0px;
  }
  .accordionHeader.ch3 {
    padding: 10px 0px;
  }
  .accordionHeader.ch4 {
    padding: 10px 0px;
  }
  .accordionContent.active {
    width: 100%;
    height: calc(100% - 200px);
  }
  .imagebox {
    width: 100%;
    height: 40%;
    overflow: hidden;
  }
  .imagebox>.bgbox {
    width: 87.5000vw;
    height: 150.0000vw;
  }
  .imagebox>.bgbox>.mainbox {
    width: 75.0000vw;
    height: 118.7500vw;
  }
  .contentbox {
    width: 100%;
    height: 60%;
    overflow: hidden;
  }
  .contentbox>.textbox {
    height: 50%;
    padding: 0px 20px;
    justify-content: center;
  }
  .contentbox>.textbox>h2 {
    font-size: 18px;
  }
  .contentbox>.textbox>h1 {
    font-size: 40px;
  }
  .contentbox>.textbox>p {
    padding-right: 0px;
  }
  .contentbox>.carouselbox {
    width: 100%;
    height: 50%;
  }
}