.topContainer{
    display: flex;
}
.chief{
    margin: 70px;
    float:left;
    
}
.name{
    margin-bottom: 20px;
}
.content{
  color: #A9A9A9;
  margin-bottom: 20px;
}
.money{
    color: #A9A9A9;
}
.top{
    font-weight: bold;
    margin-bottom: 60px;

}
.country{
    margin-bottom: 40px;
}
.img-box img{
    margin: 40px;
    max-width: 700px;
    width: 700px;
	height: 600px;
    border: 30px;
	float: right;
    padding-left: 50px;
}

.container {
    margin: 30px;
    justify-content: center;
    display:grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(150px, auto); 
    grid-gap: 20px;
}

.item{
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

/* line */
.page-line {
    width: 500px;
    height: 1px;
    background-color: black;
}
