/*reset*/
* { margin: 0; padding: 0;}
#wrap { background-color: black; overflow: hidden;}

ul, li {list-style: none; }
a, button { text-decoration: none; cursor: pointer;}
.clearfix::before, .clearfix::after { display: block; content: ''; clear: both;}

/*레이아웃*/
#locator { display: flex; align-items: center; justify-content: space-between;
          width: 100%; height: 863px; background: green;}

