/*레이아웃*/
#banner { float: left; width: 100%; height: 900px;}
#main_timeline { display: flex; align-items: center; justify-content: center;
     width: 100%; height: 1180px; padding-top: 0px;}
#main_text { display: flex; align-items: center; justify-content: center;
             width: 100%; height: 980px;}
#main_video { float: left; width: 100%; height: 100%;}
#main_collection { display: flex; align-items: center; justify-content: center;
                    width: 100%; height: 1180px;}
#main_insta{ float: left; width: 100%; height: 1200px;}



/*상단배너사진*/
#banner .photo {
    width: 100%;
    height: 900px;
	position: relative;
    background: url("../img/banner/01.PNG") no-repeat rgba(0, 0, 0, 0.3);
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: multiply;
}
#banner .photo .photo_text {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 40px;
    letter-spacing: 15px;
	color: white;
}


/*중간텍스트 속성*/
.main_text_box{
    text-align: center;
    transform: translate(0, 50px);
    transition: 2s;
    opacity: 0;
}
.main_text_box.active {
    transform: translateX(0);
    opacity: 1;
}
.main_text_box li {
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    padding: 5px;
}


/*비디오*/
#main_video video {
    width: 100%;
}


/*콜렉션 사진*/
.collection_photo {
    float: left;
    margin: 0 120px;
    width: 25vw;
}
.collection_photo img {
    text-align: center;
    width: 25vw;
}
.collection_photo_02, .collection_photo_03, .collection_photo_04 {
    display: none;
}

/*콜렉션 사진 호버*/
.photo_01:hover, .photo_02:hover, .photo_03:hover, .photo_04:hover{
    background-color: #a09486;
}



/*콜렉션 텍스트*/
.collection_text_box {
    float: right;
    display: flex; 
    align-items: center;
    margin-right: 120px;
    width: 55.5vw;
    height: 9.8vw;
    border-top: 1px solid #a68b6d;
}
.collection_text_box_dashed {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 55.5vw;
    height: 9.5vw;
    color: white;
    border-top: 1px dashed #efe1d6;
}
.collection_text .box_last {
    border-bottom: 1px solid #a68b6d;
}
.collection_text .dashed_last {
    border-bottom: 1px dashed #efe1d6;

}
.collection_text_box_title .text_box_product {
    font-size: 40px;
    padding: 0;
}
.collection_text_box_title .text_box_product_mini, .text_box_designer {
    font-size: 18px;
}
.text_box_designer {
    float: right;
    line-height: 0px;
}


/*스와이퍼*/
.container {
    display: flex; align-items: center; justify-content: center;
    margin: 0 20px;
}
.swiper_01, .swiper_03 {
    width: 29vw;
    height: 62.5vw;
}
.swiper_02 {
    margin: 0 20px;
    height: 62.5vw;
}
.swiper_01 img, .swiper_03 img {
    width: 100%;
}


/*타임라인*/
.hidden_timeline {
    display: none;
}
.timeline_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 980px;
    margin-top: 200px;
}
.timeline {
    position: relative;
    height: 980px;
    width: 70%;
}
.left_timeline {
    text-align: right;
    margin-right: 30px;
}
.third_left_timeline {
    text-align: right;
    margin-right: 80px;
    color: white;
}
.timeline_box {
    margin-left: 40px;
}
.timeline ul {
    list-style: none;
}
.timeline ul li {
    color: rgb(129, 129, 129);
}
#main_timeline .year {
    line-height: 90px;
    font-size: 50px;
    font-family: 'Constantia', sans-serif;
}
#main_timeline .year_text {
    font-size: 16px;
    font-family: 'Batang', sans-serif;
}


.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 990px;
    background-color: white;
}
.timeline ul li {
    width: 50%;
    position: relative;
    margin-top: 60px;

}
.timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
}
.timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
}
.timeline ul li::before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    top: 75px;
}
.timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
}
.timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
}


/*타임라인 안 원*/
.circle_three{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    background-color: black;
}
.circle_two{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
}
.circle_one {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
}
/*
.timeline {
    animation: scroll-up 1s infinite;
  }

@-webkit-keyframes scroll-up {
0%   { -webkit-transform: translateY(50%); }
    100% { -webkit-transform: translateY(-50%); }
}