/*레이아웃*/
#banner { width: 100%; height: 900px;}
#main_timeline { 
    display: flex; align-items: center; justify-content: center;
     width: 100%; height: 1180px; padding-top: 0px;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none;
}
.overflow-hidden { overflow: hidden; }
#main_text { display: flex; align-items: center; justify-content: center;
             width: 100%; height: 980px;}
#main_video { float: left; width: 100%; height: 100%;}
#main_collection { display: flex; align-items: center; justify-content: center;
    width: 100%; height: 100%;}
#main_goods-poster { width: 100%; height: 100%; margin-bottom: 200px;}
#main_insta{ float: left; width: 100%; height: 100%;}



/*상단배너사진*/
#banner .photo {
    width: 100%;
    height: 920px;
	position: relative;
	background: url("../img/banner/02.PNG") no-repeat rgba(0, 0, 0, 0.3);
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: multiply;
}

#banner .photo .photo_text {
	position: absolute;
	top: 50%;
	text-align: center;
	width: 100%;
	font-size: 40px;
    letter-spacing: 15px;
	color: white;
}



/*중간텍스트 속성*/
.main_text_box{
    text-align: center;
    transform: translate(0, 50px);
    transition: 2s;
    opacity: 0;
}
.main_text_box.active {
    transform: translateX(0);
    opacity: 1;
}
.main_text_box li {
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    padding: 5px;
}



/*비디오*/
#main_video video {
    width: 100%;
}


div.timeline {
    overflow: hidden;
}
section#main_timeline li {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: auto;
}

section#main_timeline li.swiper-slide {
    transition: all .8s;
}

section#main_timeline li.swiper-slide-active {
    color: white;
}

.timeline ul li:nth-child(odd)::after {
    content: "";
    justify-self: center;    
    align-self: center;
    grid-column: 2/3;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;    
}

.timeline ul li:nth-child(even)::before {
    content: "";
    justify-self: center;    
    align-self: center;
    grid-column: 2/3;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;    
}

section#main_timeline li div.left {
    grid-column: 1/2;
}



/*콜렉션 사진*/
.collection_photo #img_collection_photo { width: 480px; height: 745px; margin: 0;}

.collection_photo {
    float: left;
    margin: 0 120px;
    width: 25vw;
}
.collection_photo img {
    text-align: center;
}
/*콜렉션 사진 호버*/
.collection_text_box:hover{
    background-color: #a09486;
}




/*콜렉션 텍스트*/
.collection_text {
    margin: 20.8vw 0;
}
.collection_text_box {
    float: right;
    display: flex; 
    align-items: center;
    margin-right: 120px;
    width: 55.5vw;
    height: 9.8vw;
    border-top: 1px solid #a68b6d;
}
.collection_text_box_dashed {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 55.5vw;
    height: 9.5vw;
    color: white;
    border-top: 1px dashed #efe1d6;
}
.collection_text .box_last {
    border-bottom: 1px solid #a68b6d;
}
.collection_text .dashed_last {
    border-bottom: 1px dashed #efe1d6;

}
.collection_text_box_title .text_box_product {
    font-size: 40px;
    padding: 0;
}
.collection_text_box_title .text_box_product_mini, .text_box_designer {
    font-size: 18px;
}
.text_box_designer {
    float: right;
    line-height: 0px;
}


/*스와이퍼*/
.container {
    display: flex; align-items: center; justify-content: center;
    margin: 0 20px;
}
.swiper_01, .swiper_03 {
    width: 29vw;
    height: 62.5vw;
}
.swiper_04 {
    display: none;
}
.swiper_02 {
    margin: 0 20px;
    width: 35.5vw;
    height: 62.5vw;
}
.swiper_01 img, .swiper_03 img {
    width: 100%;
}
.swiper_02 img {
    width: 100%;
}

/*타임라인*/
.visibility-hidden {
    visibility: hidden;
}
.timeline_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    margin-top: 200px;
}
.timeline {
    position: relative;
    height: 750px;
    width: 70%;
}
.left_timeline {
    text-align: right;
    margin-right: 70px;
}
/*
.third_left_timeline {
    text-align: right;
    margin-right: 00px;
    color: white;
}*/
.timeline_box {
    margin-left:70px;
}
.timeline ul {
    list-style: none;
}
.timeline ul li {   
    width: 100% !important; 
    color: rgb(75, 75, 75);
}

#main_timeline .year {
    line-height: 90px;
    font-size: 50px;
    font-family: 'Constantia', sans-serif;
}
#main_timeline .year_text {
    font-size: 16px;
    font-family: 'Batang', sans-serif;
}


.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 990px;
    background-color: rgb(75, 75, 75);
}


/*타임라인 안 원*/

.circle_three{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 0px;
    background-color: black;
}
.circle_two{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
}

/* 굿즈랑 포스터*/
#goods-poster > img {
    width: 100%;
    height: auto;
}
.main_goods-poster-box {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
}
.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
}
.caption {
    font-size: 1.125rem;
    text-align: center;
    line-height: 2em;
}
.item {
    display: inline-block;
    margin-top: 2rem;
    width: 440px;
    height: 300px;
    filter: grayscale(100%);
}

.item2 {
    display: inline-block;
    width: 280px;
    height: 400px;
    padding: 10rem 2rem 0 2rem;
    filter: grayscale(100%);
}
.item .polaroid:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}
.item2 .polaroid:before {
    display: none;
}
.item:nth-of-type(4n+1), .item2:nth-of-type(4n+1) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}

.item2:nth-of-type(4n+1) .polaroid:before {
    transform: rotate(6deg);
    height: 10%;
    width: 90%;
    bottom: 10px;
    right: 7px;
}
.item:nth-of-type(4n+2), .item2:nth-of-type(4n+2) {
    transform: scale(0.8, 0.8) rotate(-5deg);
    transition: all 0.35s;
}

.item:nth-of-type(4n+4), .item2:nth-of-type(4n+4) {
    transform: scale(0.8, 0.8) rotate(-6deg);
    transition: all 0.35s;
}

.item:nth-of-type(4n+3), .item2:nth-of-type(4n+3) {
    transform: scale(0.8, 0.8) rotate(5deg);
    transition: all 0.35s;
}

.item:hover, .item2:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
}

